name: Frontend DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # 1. Scan for hardcoded secrets (AWS Keys, Passwords, etc.)
    - name: Gitleaks Scan
      uses: gitleaks/gitleaks-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # 2. Security Scan (SCA) - Check for vulnerable npm packages
    - name: Snyk Security Scan
      uses: snyk/actions/node@master
      continue-on-error: true
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    # 3. Build React Application
    - name: Install Dependencies & Build
      run: |
        npm install
        CI=false npm run build

    # 4. Configure AWS Credentials
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    # 5. Deploy Build Files to S3 Bucket
    - name: Deploy to S3
      run: |
        aws s3 sync build/ s3://print-on-one-frontend-2026 --delete